

/*  mobile veresion  n css staart */
/*  hero css start */
@media only screen and (max-width: 480px) {
    .hero-section{
        height: 60vh;
    }
    .hero-container{
        position: relative;
        top: 10%;
    }
    .hero-content h2{ 
        font-size: 2rem;
    }
  }
  /*  hero-css end  */


  /*  service css start */
  @media only screen and (max-width: 480px) {
  
    .service-container{
        grid-template-columns: 1fr;
    }
    .service-content img{
        width: 100%;
    }
    
  }

  /*  service css end  */
  /*  feature css start */
  @media only screen and (max-width: 480px) {
    .feature-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .feature-left{
        text-align: center;
    }
    .feature-left h6{
        color: #6a6dfb;
        margin-bottom: 10px;
    }
    .feature-left h4{
        font-weight: 700;
    }
    .feature-left p{
        color: rgb(135, 128, 128);
    }
  }
  /*  feature css  end  */

  /* team css start */

  @media only screen and (max-width: 480px) {
    .tem-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
  }
  /* team css end */
/*  */
@media only screen and (max-width: 480px) {
    .pricing-container{
         
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 1rem;
    }
    .card-1{
        position: relative;
        left: 10%;
        height: 50vh;
        background-color: #ffff;
    }
}
/*  */

/*  mobile veresion  n css end  */

