

/*  mobile veresion  n css staart */
/*  hero css start */
@media only screen and (max-width: 480px) {
    .hero-section{
        height: 60vh;
    }
    .hero-container{
        position: relative;
        top: 10%;
    }
    .hero-content h2{ 
        font-size: 2rem;
    }
  }
  /*  hero-css end  */


  /*  service css start */
  @media only screen and (max-width: 480px) {
  
    .service-container{
        grid-template-columns: 1fr;
    }
    .service-content img{
        width: 100%;
    }
    
  }

  /*  service css end  */
  /*  feature css start */
  @media only screen and (max-width: 480px) {
    .feature-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .feature-left{
        text-align: center;
    }
    .feature-left h6{
        color: #6a6dfb;
        margin-bottom: 10px;
    }
    .feature-left h4{
        font-weight: 700;
    }
    .feature-left p{
        color: rgb(135, 128, 128);
    }
  }
  /*  feature css  end  */

  /* team css start */

  @media only screen and (max-width: 480px) {
    .tem-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
  }
  /* team css end */
/*  pricing-section start*/
@media only screen and (max-width: 480px) {
    .pricing-container{
         
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 1rem;
        
    }
    .card-1{
        position: relative;
        left: 10%;
        height: 100vh;
        background-color: #ffff;
    }
}
/* proicing-section end  */

/* blog-section css start */
@media only screen and (max-width: 480px) {
    .blog-container{
        grid-template-columns:  1fr;
    }
    .blog-img img{
        text-align: center;
        height: auto;
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
   
}
/*  blog-section css end  */

/*   */
@media only screen and (max-width: 480px) {
    .contact-container{
        display: grid;
        grid-template-columns:  1fr;
        grid-gap: 1rem;
    }
}
/*   */

/*  footer section start */
@media only screen and (max-width: 480px) {

/*  footer css start */
.footer-container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}
.foterleft {
    
    justify-self: center;
}
.footer-head h5{
    margin-left:28px;
    font-weight: 700;
}

.footer-head ul li{
    color: rgb(185, 188, 190);
    display: block;
}
.service-header h3{
    font-size: 2rem;
}

}


/*  footer css end  */

/*  footer section end  */

/*  mobile veresion  n css end  */

